<div class="control-panel">
  <div class="position-display">
    <div class="position">
      <div class="position-container">
        <span class="position-label">Position:</span>
        <input id="turntable-position"
               type="text"
               [value]="formatPosition(turntablePosition)"
               readonly>
      </div>
    </div>
    <div class="position">
      <button class="home-button" (click)="homeTurntable()" [disabled]="!isConnected">Home</button>
    </div>
  </div>

  <div class="controls-container">
    <div class="movement-buttons">
      <button class="direction-button" (click)="moveTurntableRelative(movementAmount)" [disabled]="!isConnected">
        <mat-icon>rotate_left</mat-icon> <!-- CW icon -->
      </button>
      <button class="direction-button" (click)="moveTurntableRelative(-movementAmount)" [disabled]="!isConnected">
        <mat-icon>rotate_right</mat-icon> <!-- CCW icon -->
      </button>
    </div>
  </div>

  <div class="movement-amount-buttons">
    <button [class.active]="movementAmount === 0.1" (click)="setMovementAmount(0.1)">0.1</button>
    <button [class.active]="movementAmount === 1" (click)="setMovementAmount(1)">1</button>
    <button [class.active]="movementAmount === 5" (click)="setMovementAmount(5)">5</button>
    <button [class.active]="movementAmount === 10" (click)="setMovementAmount(10)">10</button>
    <button [class.active]="movementAmount === 20" (click)="setMovementAmount(20)">20</button>
    <button [class.active]="movementAmount === 180" (click)="setMovementAmount(180)">180</button>
  </div>
</div>
