:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #cbcbcb;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  color: rgb(195, 191, 191);
  font-size: 20px;
}

h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.sidenav-container {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse; /* Place sidebar on the right */
  }
  
  /* Main content area */
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  /* Sidebar styling */
  .sidenav {
    width: 400px; /* Adjust width as needed */
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
    font-size: 16px; /* Adjust text size as needed */
  }
  
  /* Style the expansion panel headers */
  .mat-expansion-panel-header {
    background-color: #333; /* Darker background for expansion panel headers */
    color: #fff; /* White text color for expansion panel headers */
    height: 48px; /* Set a fixed height for the header */
    line-height: 48px; /* Center align text vertically */
  }
  
  /* Adjust the panel content padding */
  .mat-expansion-panel-content {
    padding: 0 24px 24px 24px; /* Adjust padding as needed */
  }
