:host {
  display: block;
  padding-left: 0px;
  padding-top: 12px;
  padding-bottom: 6px;
  font-family: 'Arial', sans-serif;
}

.camera-settings-table {
  width: 100%;
  border-collapse: collapse;
}

.camera-settings-table th,
.camera-settings-table td {
  text-align: center;
  padding: 4px 6px;
  color: #fff;
  font-size: 12px;
}

/* Input Fields */
.camera-settings-table input {
  width: 90%;
  padding: 3px;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
}

/* Ensure Buttons Are Aligned Horizontally */
td {
  vertical-align: middle;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Space between buttons */
}

/* Arrange Buttons Horizontally */
td button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  margin: 0 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover Effect */
td button:hover {
  background-color: #777;
}

/* Connected Button State */
.connect-button.connected {
  background-color: #2a628c;
}

/* Streaming Button State */
.stream-button.streaming {
  background-color: #2a628c;
}