<div class="lamp-control">
  <div class="lamp-status">
    <img [src]="currentLampStateImage" alt="Lamp State" class="lamp-icon">
    <button (click)="togglePSU()" class="psu-button" [disabled]="!isPSUConnected">
      <img [src]="currentPSUStateImage" alt="PSU State">
    </button>
  </div>
  <div class="lamp-buttons">
    <button *ngFor="let channel of [1, 2, 3, 4, 5, 6]"
            [ngStyle]="{'background-image': 'url(' + getButtonImage(channel) + ')'}"
            [class.on-1]="isChannelOn(channel) && channel === 1"
            [class.on-other]="isChannelOn(channel) && channel !== 1"
            (click)="toggleLamp(channel)"
            [disabled]="!isLampControllerConnected">
    </button>
  </div>
</div>
