<div class="lamp-control">
  <div class="lamp-status">
    <img [src]="currentLampStateImage" alt="Lamp State" width="150" height="150">
  </div>
  <div class="lamp-buttons">
    <button *ngFor="let channel of [1, 2, 3, 4, 5, 6]"
            [ngStyle]="{'background-image': 'url(' + getButtonImage(channel) + ')'}"
            [class.on-1]="isChannelOn(channel) && channel === 1"
            [class.on-other]="isChannelOn(channel) && channel !== 1"
            (click)="toggleLamp(channel)">
    </button>
  </div>
</div>
