.control-panel {
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  height: 170px;
}

.position-display {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-left: -32px;
}

.position {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 9px;
}

.position-label {
  margin-left: 5px;
  color: #fff;
  position: relative;
  top: -1px;
  left: 1px;
}

.position-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #777;
  border-radius: 8px;
  padding: 5px;
  background-color: #333;
}

.custom-movement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.custom-movement input {
  width: 60px;
  margin-right: 10px;
  text-align: center;
}

.custom-movement button {
  padding: 5px 10px;
  border: 1px solid #777;
  border-radius: 4px;
  background-color: #555;
  color: #fff;
  cursor: pointer;
}

.custom-movement button:hover {
  background-color: #777;
}

.position-container input {
  width: 60px;
  text-align: center;
  border: none;
  background: none;
  color: #fff;
  outline: none;
  font-size: 14px;
}

.position input {
  width: 60px;
  text-align: center;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center the buttons vertically */
  margin-bottom: 20px;
}

.movement-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px; /* Space between movement and home buttons */
}

.direction-button {
  margin: 0 5px;
  padding: 5px;
  width: 30px; /* Smaller width for direction buttons */
  height: 30px; /* Smaller height for direction buttons */
  border: 1px solid #777;
  border-radius: 4px;
  background-color: #555;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movement-buttons .movement-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gap {
  height: 10px; /* Adjust the gap height as needed */
}

.direction-button:hover {
  background-color: #777;
}

.home-buttons-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Space between buttons */
}

.home-button,
.home-axis-button {
  padding: 2px;
  width: 60px; /* Fixed width for home buttons */
  height: 20px; /* Fixed height for home buttons */
  border: 1px solid #777;
  border-radius: 4px;
  background-color: #555;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button:hover,
.home-axis-button:hover {
  background-color: #777;
}

.home-button.active {
  background-color: rgb(42, 98, 140);
}

.movement-amount-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 200px;
  margin-left: 30px
}

.movement-amount-buttons button {
  margin: 0;
  padding: 4px 16px;
  border: 1px solid #777;
  background-color: #555;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  flex: 1;
}

.movement-amount-buttons button:hover {
  background-color: #777;
}

.movement-amount-buttons button.active {
  background-color: rgb(42, 98, 140);
}

.movement-amount-buttons button {
  border-radius: 0;
}

.movement-amount-buttons button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.movement-amount-buttons button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rotate-up {
  transform: rotate(-90deg);
}

.rotate-down {
  transform: rotate(90deg);
}