<div class="control-panel">
  <div class="position-display">
    <div class="position">
      <div class="position-container">
        <span class="position-label">X</span>
        <input id="x-position" type="text" [(ngModel)]="xPosition" [disabled]="motorOffState" (focus)="onFocus('x')" (blur)="onBlur('x')" (keyup.enter)="movePrinterAbsolute(xPosition, yPosition, zPosition)">
        <span class="corner-text">[{{xPosition}}]</span>
      </div>
    </div>
    <div class="position">
      <div class="position-container">
        <span class="position-label">Y</span>
        <input id="y-position" type="text" [(ngModel)]="yPosition" [disabled]="motorOffState" (focus)="onFocus('y')" (blur)="onBlur('y')" (keyup.enter)="movePrinterAbsolute(xPosition, yPosition, zPosition)">
        <span class="corner-text">[{{yPosition}}]</span>
      </div>
    </div>
    <div class="position">
      <div class="position-container">
        <span class="position-label">Z</span>
        <input id="z-position" type="text" [(ngModel)]="zPosition" [disabled]="motorOffState" (focus)="onFocus('z')" (blur)="onBlur('z')" (keyup.enter)="movePrinterAbsolute(xPosition, yPosition, zPosition)">
        <span class="corner-text">[{{zPosition}}]</span>
      </div>
    </div>
  </div>

  <div class="controls-container">
    <div class="movement-buttons">
      <button class="direction-button" (click)="movePrinterRelative('x', -movementAmount)" [disabled]="motorOffState">&#x3C;</button> <!-- -X -->
      <div class="movement-column">
        <button class="direction-button rotate-down" (click)="movePrinterRelative('y', movementAmount)" [disabled]="motorOffState">&#x3C;</button> <!-- +Y -->
        <div class="gap"></div>
        <button class="direction-button rotate-up" (click)="movePrinterRelative('y', -movementAmount)" [disabled]="motorOffState">&#x3C;</button> <!-- -Y -->
      </div>
      <button class="direction-button" (click)="movePrinterRelative('x', movementAmount)" [disabled]="motorOffState">&#x3E;</button> <!-- +X -->
      <div class="movement-column">
        <button class="direction-button rotate-down" (click)="movePrinterRelative('z', movementAmount)" [disabled]="motorOffState">&#x3C;</button> <!-- +Z -->
        <div class="gap"></div>
        <button class="direction-button rotate-up" (click)="movePrinterRelative('z', -movementAmount)" [disabled]="motorOffState">&#x3C;</button> <!-- -Z -->
      </div>
    </div>

    <div class="home-buttons-grid">
      <button class="home-axis-button" (click)="homeAxis('x')">HomeX</button>
      <button class="home-axis-button" (click)="homeAxis('y')">HomeY</button>
      <button class="home-axis-button" (click)="homeAxis('z')">HomeZ</button>
      <button class="home-button" (click)="homeAxis()">Home</button>
      <button class="home-button" [ngClass]="{'active': motorOffState}" (click)="motorOff()">MotorOff</button>
      <button class="home-button" (click)="movePrinterAbsolute()">FirstTablet</button>
    </div>
  </div>

  <div class="movement-amount-buttons">
    <button [class.active]="movementAmount === 0.1" (click)="setMovementAmount(0.1)">0.1</button>
    <button [class.active]="movementAmount === 1" (click)="setMovementAmount(1)">1</button>
    <button [class.active]="movementAmount === 10" (click)="setMovementAmount(10)">10</button>
    <button [class.active]="movementAmount === 25" (click)="setMovementAmount(25)">25</button>
    <button [class.active]="movementAmount === 50" (click)="setMovementAmount(50)">50</button>
    <button [class.active]="movementAmount === 100" (click)="setMovementAmount(100)">100</button>
  </div>
</div>
