.results-panel {
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 46vh;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  
  .results-panel-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -10px;
  }
  
  /* Table Styles */
  .results-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  .results-table th {
    text-align: left;
    padding: 8px 10px;
    color: #fff;
    font-weight: bold;
  }
  
  .results-table td {
    padding: 8px 10px;
    color: #fff;
  }
  
  
  /* Scrollable container */
  .results-table-container {
    width: 100%;
    max-height: 800px; /* Increased from 200px */
    overflow-y: auto; /* Enables scrolling when necessary */
}

/* Adjust row height */
.results-table tbody tr {
    background-color: #333;
    height: 20px; /* Set a fixed height */
}

/* Alternate row color with the new height */
.results-table tbody tr.odd-row {
    background-color: #222;
    height: 18px; /* Ensure consistent height */
}

/* Ensure table cells adjust properly */
.results-table th,
.results-table td {
    padding: 4px 4px; /* Adjust spacing inside cells */
    line-height: 1.4; /* Adjust text alignment within rows */
    
}


/* Center align table headers and cells */
.results-table th,
.results-table td {
    text-align: center; /* Center text horizontally */
    vertical-align: middle; /* Center text vertically */
    padding: 10px 10px; /* Keep spacing for better readability */
    line-height: 1.6;
}

/* Ensure table header text is also centered */
.results-table th {
    font-weight: bold;
}


.results-table-container .results-table .tick {
  color: #2aaa2e;
}
.results-table-container .results-table .cross {
  color: #F44336;
}