.center-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .center-popup-content {
    background-color: #333;
    color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid var(--main-blue);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  }
  
  .center-popup-content h2 {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .results-table-popup {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
  }
  
  .results-table-popup th,
  .results-table-popup td {
    padding: 10px;
    text-align: center;
  }
  

  .center-popup-content button {
    background-color: var(--main-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s ease-in-out;
  }
  
  .center-popup-content button:hover {
    background-color: var(--hover-active-blue);
  }
  
  .result-icon.success {
    color: #2aaa2e; /* green */
  }
  
  .result-icon.failure {
    color: #F44336; /* red */
  }